@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Fix màu nền và màu nút OK trong dark mode */
.custom-timepicker-popup .ant-picker-ok button {
  background-color: gray; /* Tailwind red-500 */
  color: white;
  border: none;
}


.custom-timepicker-popup .ant-picker-panel {
  background-color: #1e293b; /* slate-800 */
  color: white;
}

/* Xóa nền trắng, shadow, bo góc của Modal content */
.custom-modal .ant-modal-content {
  @apply bg-transparent shadow-none rounded-none p-0 !important;
}

/* (Tùy chọn) chỉnh màu overlay khi mở modal */
.custom-modal .ant-modal-mask {
  @apply bg-black bg-opacity-60 !important; /* hoặc bg-transparent nếu muốn */
}

.custom-descriptions .ant-descriptions-view {
  border: 1px solid #334155; /* slate-700 border */
  border-radius: 0.5rem;
}

.custom-descriptions .ant-descriptions-item-label,
.custom-descriptions .ant-descriptions-item-content {
  background-color: #1e293b !important; /* slate-800 */
  color: #fff !important;
  border: 1px solid #334155 !important; /* slate-700 */
}








