@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Fix màu nền và màu nút OK trong dark mode */
.custom-timepicker-popup .ant-picker-ok button {
  background-color: gray; /* Tailwind red-500 */
  color: white;
  border: none;
}


.custom-timepicker-popup .ant-picker-panel {
  background-color: #1e293b; /* slate-800 */
  color: white;
}

.ant-select-item-option-content {
  color: white !important;
}

/* Ghi đè màu chữ khi option được chọn hoặc hover */
.ant-select-item-option-selected,
.ant-select-item-option-active {
  background-color: #374151 !important; /* dark bg */
  color: white !important;
}
/* index.css */
.ant-select-selector {
  color: white !important;
  background-color: #374151 !important; /* Nếu muốn cũng có thể chỉnh màu nền */
  border: none !important; /* Nếu bạn không muốn viền */
}

.ant-select-arrow {
  color: white !important;
}


